## Adding a variable to capture NA

In previous lectures we studied how to replace missing values by mean/median imputation or by extracting a random sample of the variable for those instances where data is available, and using those values to replace the missing values. We also discussed that these 2 methods assume that the missing data are missing completely at random (MCAR).

So what if the data are not missing completely at random? By using this procedure, we would be missing important, predictive information.

How can we prevent that?

We can capture the importance of missingness by creating an additional variable indicating whether the data was missing for that observation (1) or not (0). The additional variable is a binary variable: it takes only the values 0 and 1, 0 indicating that a value was present for that observation, and 1 indicating that the value was missing for that observation.


### Advantages

- Easy to implement
- Captures the importance of missingess if there is one

### Disadvantages

- Expands the feature space

This method of imputation will add 1 variable per variable in the dataset with missing values. So if a dataset contains 10 features, and all of them have missing values, we will end up with a dataset with 20 features. The original features where we replaced the missing values by the mean/median (or random sampling), and additional 10 features, indicating for each of the variables, whether the value was missing or not.

This may not be a problem in datasets with tens to a few hundreds of variables, but if your original dataset contains thousands of variables, by creating an additional variable to indicate NA, you will end up with very big datasets.

In addition, data tends to be missing for the same observation on multiple variables, so it may also be the case, that many of your added variables will be actually similar to each other.


### Final note

Typically, mean/median imputation is done together with adding a variable to capture those observations where the data was missing (see lecture "Replacing NA with the median/mean"), thus covering 2 angles: if the data was missing completely at random, this would be contemplated by the mean imputation, and if it wasn't this would be captured by the additional variable.

In addition, both methods are extremely straight forward to implement, and therefore are a top choice in data science competitions. See for example the winning solution of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble Selection" (http://www.mtome.com/Publications/CiML/CiML-v3-book.pdf)

===============================================================================

## Real Life example: 

### Predicting Survival on the Titanic: understanding society behaviour and beliefs

Perhaps one of the most infamous shipwrecks in history, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 people on board. Interestingly, by analysing the probability of survival based on few attributes like gender, age, and social status, we can make very accurate predictions on which passengers would survive. Some groups of people were more likely to survive than others, such as women, children, and the upper-class. Therefore, we can learn about the society priorities and privileges at the time.


### Predicting Sale Price of Houses

The problem at hand aims to predict the final sale price of homes based on different explanatory variables describing aspects of residential homes. Predicting house prices is useful to identify fruitful investments, or to determine whether the price advertised for a house is over or underestimated, before making a buying judgment.

=============================================================================

In the following cells, I will show the mean/median imputation + creating an additional variable to indicate missingness on the Titanic and House Price datasets from Kaggle.

If you haven't downloaded the dataset yet, in the lecture "Guide to setting up your computer" in section 1, you can find the details on how to do so.

In [1]:
import pandas as pd
import numpy as np

# for regression problems
from sklearn.linear_model import LinearRegression, Ridge

# for classification
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# to split and standarize the datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# to evaluate regression models
from sklearn.metrics import mean_squared_error

# to evaluate classification models
from sklearn.metrics import roc_auc_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
# load the Titanic Dataset with a few variables for demonstration

data = pd.read_csv('titanic.csv', usecols = ['Age', 'Fare','Survived'])
data.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [3]:
# let's look at the percentage of NA
data.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [4]:
# let's separate into training and testing set

X_train, X_test, y_train, y_test = train_test_split(data, data.Survived, test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((623, 3), (268, 3))

In [5]:
# create variable indicating missingness

X_train['Age_NA'] = np.where(X_train['Age'].isnull(), 1, 0)
X_test['Age_NA'] = np.where(X_test['Age'].isnull(), 1, 0)

X_train.head()

     Survived   Age     Fare  Age_NA
857         1  51.0  26.5500       0
52          1  49.0  76.7292       0
386         0   1.0  46.9000       0
124         0  54.0  77.2875       0
578         0   NaN  14.4583       1

In [6]:
# we can see that mean and median are similar. So I will replace with the median
X_train.Age.mean(), X_train.Age.median(),

(29.915338645418327, 29.0)

In [7]:
# let's replace the NA with the median value in the training set
X_train['Age'].fillna(X_train.Age.median(), inplace=True)
X_test['Age'].fillna(X_train.Age.median(), inplace=True)

X_train.head(20)

     Survived   Age      Fare  Age_NA
857         1  51.0   26.5500       0
52          1  49.0   76.7292       0
386         0   1.0   46.9000       0
124         0  54.0   77.2875       0
578         0  29.0   14.4583       1
549         1   8.0   36.7500       0
118         0  24.0  247.5208       0
12          0  20.0    8.0500       0
157         0  30.0    8.0500       0
127         1  24.0    7.1417       0
653         1  29.0    7.8292       1
235         0  29.0    7.5500       1
785         0  25.0    7.2500       0
241         1  29.0   15.5000       1
351         0  29.0   35.0000       1
862         1  48.0   25.9292       0
851         0  74.0    7.7750       0
753         0  23.0    7.8958       0
532         0  17.0    7.2292       0
485         0  29.0   25.4667       1

### Logistic Regression

In [8]:
scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train))
X_test = pd.DataFrame(scaler.transform(X_test))

X_train.columns = ['Survived','Age','Fare','Age_NA']
X_test.columns = ['Survived','Age','Fare','Age_NA']

In [9]:
# we compare the models built using Age filled with median, vs Age filled with median + additional
# variable indicating missingness

logit = LogisticRegression(random_state=44, C=1000) # c big to avoid regularization
logit.fit(X_train[['Age','Fare']], y_train)
print('Train set')
pred = logit.predict_proba(X_train[['Age','Fare']])
print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_train, pred[:,1])))
print('Test set')
pred = logit.predict_proba(X_test[['Age','Fare']])
print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_test, pred[:,1])))

logit = LogisticRegression(random_state=44, C=1000) # c big to avoid regularization
logit.fit(X_train[['Age','Age_NA', 'Fare']], y_train)
print('Train set')
pred = logit.predict_proba(X_train[['Age','Age_NA', 'Fare']])
print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_train, pred[:,1])))
print('Test set')
pred = logit.predict_proba(X_test[['Age','Age_NA', 'Fare']])
print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_test, pred[:,1])))

Train set
Logistic Regression roc-auc: 0.6794863451985858
Test set
Logistic Regression roc-auc: 0.7244940476190476
Train set
Logistic Regression roc-auc: 0.6762705798138868
Test set
Logistic Regression roc-auc: 0.7167857142857142

### Support Vector Machine

In [10]:
# we compare the models built using Age filled with median, vs Age filled with median + additional
# variable indicating missingness

SVM_model = SVC(random_state=44, probability=True, max_iter=-1, kernel='linear')
SVM_model.fit(X_train[['Age', 'Fare']], y_train)
print('Train set')
pred = SVM_model.predict_proba(X_train[['Age', 'Fare']])
print('SVC roc-auc: {}'.format(roc_auc_score(y_train, pred[:,1])))
print('Test set')
pred = SVM_model.predict_proba(X_test[['Age', 'Fare']])
print('SCV roc-auc: {}'.format(roc_auc_score(y_test, pred[:,1])))

# model build using natural distributions

SVM_model = SVC(random_state=44, probability=True, max_iter=-1, kernel='linear')
SVM_model.fit(X_train[['Age','Age_NA', 'Fare']], y_train)
print('Train set')
pred = SVM_model.predict_proba(X_train[['Age','Age_NA', 'Fare']])
print('SVC roc-auc: {}'.format(roc_auc_score(y_train, pred[:,1])))
print('Test set')
pred = SVM_model.predict_proba(X_test[['Age','Age_NA', 'Fare']])
print('SVC roc-auc: {}'.format(roc_auc_score(y_test, pred[:,1])))

Train set
SVC roc-auc: 0.692978460337086
Test set
SCV roc-auc: 0.7418154761904762
Train set
SVC roc-auc: 0.6917203531376761
Test set
SVC roc-auc: 0.7360714285714286

In the titanic dataset, including a variable to indicate missingness for Age did not show an improvement in the performance of the logistic regression and barely the support vector machine.

### House Sale Dataset

In [11]:
# we are going to train a model on the following variables,

cols_to_use = ['OverallQual', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea','WoodDeckSF', 'BsmtUnfSF',
               'LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [12]:
# let's load the House Sale Price dataset

data = pd.read_csv('houseprice.csv', usecols=cols_to_use+['SalePrice'])
print(data.shape)
data.head()

(1460, 10)

,LotFrontage,OverallQual,MasVnrArea,BsmtUnfSF,TotalBsmtSF,1stFlrSF,GrLivArea,GarageYrBlt,WoodDeckSF,SalePrice
0,65.0,7,196.0,150,856,856,1710,2003.0,0,208500
1,80.0,6,0.0,284,1262,1262,1262,1976.0,298,181500
2,68.0,7,162.0,434,920,920,1786,2001.0,0,223500
3,60.0,7,0.0,540,756,961,1717,1998.0,0,140000
4,84.0,8,350.0,490,1145,1145,2198,2000.0,192,250000

In [13]:
# let's inspect the columns  with missing values
data.isnull().mean()

LotFrontage    0.177397
OverallQual    0.000000
MasVnrArea     0.005479
BsmtUnfSF      0.000000
TotalBsmtSF    0.000000
1stFlrSF       0.000000
GrLivArea      0.000000
GarageYrBlt    0.055479
WoodDeckSF     0.000000
SalePrice      0.000000
dtype: float64

In [14]:
# let's separate into training and testing set

X_train, X_test, y_train, y_test = train_test_split(data, data.SalePrice, test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((1022, 10), (438, 10))

We observed that the numerical variables are not normally distributed. In particular, most of them apart from YearBuilt are skewed.

In [16]:
# let's make a function to replace the NA with median or 0s

def impute_na(df, variable, median):
    df[variable+'_NA'] = np.where(df[variable].isnull(), 1, 0)
    df[variable].fillna(median, inplace=True)

In [15]:
# let's look at the median of the variables with NA

X_train[['LotFrontage', 'MasVnrArea', 'GarageYrBlt']].median()

LotFrontage      69.0
MasVnrArea        0.0
GarageYrBlt    1979.0
dtype: float64

In [17]:
# let's impute the NA with  the median
# remember that we need to impute with the median for the train set, and then propagate to test set

median = X_train.LotFrontage.median()
impute_na(X_train, 'LotFrontage', median)
impute_na(X_test, 'LotFrontage', median)

In [18]:
median = X_train.MasVnrArea.median()
impute_na(X_train, 'MasVnrArea', median)
impute_na(X_test, 'MasVnrArea', median)

In [19]:
median = X_train.GarageYrBlt.median()
impute_na(X_train, 'GarageYrBlt', median)
impute_na(X_test, 'GarageYrBlt', median)

In [20]:
X_train.isnull().mean()

LotFrontage       0.0
OverallQual       0.0
MasVnrArea        0.0
BsmtUnfSF         0.0
TotalBsmtSF       0.0
1stFlrSF          0.0
GrLivArea         0.0
GarageYrBlt       0.0
WoodDeckSF        0.0
SalePrice         0.0
LotFrontage_NA    0.0
MasVnrArea_NA     0.0
GarageYrBlt_NA    0.0
dtype: float64

In [21]:
# create a list with the untransformed columns
cols_to_use_no_na = X_train.columns[:-4]
cols_to_use_no_na

Index(['LotFrontage', 'OverallQual', 'MasVnrArea', 'BsmtUnfSF', 'TotalBsmtSF',
       '1stFlrSF', 'GrLivArea', 'GarageYrBlt', 'WoodDeckSF'],
      dtype='object')

In [22]:
cols_to_use = list(X_train.columns)
cols_to_use.remove('SalePrice')
cols_to_use

['LotFrontage',
 'OverallQual',
 'MasVnrArea',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 'GrLivArea',
 'GarageYrBlt',
 'WoodDeckSF',
 'LotFrontage_NA',
 'MasVnrArea_NA',
 'GarageYrBlt_NA']

In [23]:
# let's standarise the dataset
scaler = StandardScaler()
X_train_no_na = scaler.fit_transform(X_train[cols_to_use_no_na])
X_test_no_na = scaler.transform(X_test[cols_to_use_no_na])

scaler = StandardScaler()
X_train_all = scaler.fit_transform(X_train[cols_to_use])
X_test_all = scaler.transform(X_test[cols_to_use])

### Linear Regression

In [24]:
# we compare the models built using Age filled with median, vs Age filled with median + additional
# variable indicating missingness

linreg = LinearRegression()
linreg.fit(X_train_no_na, y_train)
print('Train set')
pred = linreg.predict(X_train_no_na)
print('Linear Regression mse: {}'.format(mean_squared_error(y_train, pred)))
print('Test set')
pred = linreg.predict(X_test_no_na)
print('Linear Regression mse: {}'.format(mean_squared_error(y_test, pred)))
print()
linreg = LinearRegression()
linreg.fit(X_train_all, y_train)
print('Train set')
pred = linreg.predict(X_train_all)
print('Linear Regression mse: {}'.format(mean_squared_error(y_train, pred)))
print('Test set')
pred = linreg.predict(X_test_all)
print('Linear Regression mse: {}'.format(mean_squared_error(y_test, pred)))
print()

Train set
Linear Regression mse: 1161895545.483203
Test set
Linear Regression mse: 2212393764.7463093

Train set
Linear Regression mse: 1157194541.9444427
Test set
Linear Regression mse: 2197999822.6527514

In [25]:
#  what is the difference in price estimated by the 2 models?

2212393764-2197999822

14393942

Here, when we build a model using the additional variable to capture missingness of data, we observe in the test set that the mse is smaller. This means that the difference between the real value and the estimated value is smaller, and thus our model performs better.

There is a difference of ~14 million between the model that replaces with the median and the one that uses median imputation in combination with the additional variables to capture missingness. So even when the difference in mse seems small, when we boil it down to business value, the impact is massive.

For a discussion on why the median imputation is not enough in this dataset, refer to lecture "Replacing NA by mean or median"

In [26]:
# we compare the models built using Age filled with median, vs Age filled with median + additional
# variable indicating missingness

#  Ridge, is a regularised linear regression.

linreg = Ridge(random_state=30, max_iter=5, tol=100, alpha=10)
linreg.fit(X_train_no_na, y_train)
print('Train set')
pred = linreg.predict(X_train_no_na)
print('Ridge Regression mse: {}'.format(mean_squared_error(y_train, pred)))
print('Test set')
pred = linreg.predict(X_test_no_na)
print('Ridge Regression mse: {}'.format(mean_squared_error(y_test, pred)))
print()

linreg = Ridge(random_state=30, max_iter=5, tol=100, alpha=10)
linreg.fit(X_train_all, y_train)
print('Train set')
pred = linreg.predict(X_train_all)
print('Ridge Regression mse: {}'.format(mean_squared_error(y_train, pred)))
print('Test set')
pred = linreg.predict(X_test_all)
print('Ridge Regression mse: {}'.format(mean_squared_error(y_test, pred)))
print()

Train set
Ridge Regression mse: 1162112961.4104362
Test set
Ridge Regression mse: 2203311969.187996

Train set
Ridge Regression mse: 1157413427.915226
Test set
Ridge Regression mse: 2188469437.2202415

We observe the same conclusion when using regularised linear regression.

**To see the power of adding an additional category to indicate missingess, go to lecture 21, "Creating an additional variable to capture missingness" on the section "Engineering missing values for categorical variables"**

**That is all for this demonstration. I hope you enjoyed the notebook, and see you in the next one.**